* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #000000;
  color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
  padding: 1rem;
}

.navbar ul li {
  display: inline;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f7f7f7;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Assets/pngegg.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px) grayscale(100%);
  z-index: -1;
  animation: moveBackground 10s linear infinite;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.typing {
  border-right: 1px solid #f7f7f7;
  animation: blinking 1s steps(1, end) infinite, typing 1s steps(40, end),
    gradient 3s infinite;
  overflow: hidden;
  background: linear-gradient(90deg, #eeeeee, #929aab);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.main p {
  padding: 5%;
  width: auto;
  height: auto;
}

.main h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

.react {
  color: aquamarine;
}

.tailwind,
.meta {
  color: rgb(113, 215, 255);
}

.respo,
.dyno,
.cent,
.java {
  color: gold;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
  padding-left: 5%;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.hire_me {
  padding-top: 5%;
}

.hire_me a {
  margin-top: 2%;
}

.email-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #929aab;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.email-button:hover {
  background-color: #393e46;
}

.footer {
  padding-top: 5%;
}

.resume_main a {
  display: inline-block;
  padding: 5px 5px;
  font-size: 16px;
  color: #fff;
  background-color: #929aab;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.resume_main a:hover {
  background-color: #393e46;
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #f7f7f7;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: center 0%;
  }
  50% {
    background-position: center 5%;
  }
  100% {
    background-position: center 0%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  .header {
    height: 50vh;
    padding: 2rem 1rem;
  }
  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1.2rem;
  }

  .header::before {
    background-size: 100%;
  }

  #wave {
    display: none;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }

  .header::before {
    background-size: 120%;
  }

  .main section {
    padding: 0.5rem;
  }
}
